.envelope{
  position: relative;
  z-index: 10000;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .background{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url("../../static/bg_img.png");
  }
  .top-wrapper{
    position: absolute;
    z-index: 3;
    top:0;
    .top-side{
      position: absolute;
      top: 0;
      .top-side-inner{
        border: var(--border) solid transparent;
        border-top-width: var(--topborder);
        border-top-color: peru;
        margin-bottom: var(--marginbottom);
      }
      .enter{
        width: var(--img);
        margin-top:var(--offset);
      }
    }
  }

  .letter{
    position: absolute;
  }
  .centerloc{
    position: relative;
    flex: 0 0 var(--height);
    width: var(--width);
    height: var(--height);
  }
  .wrapper-side{
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: bisque;
    border-radius: 0 0px var(--radius) var(--radius);
    box-shadow: 5px 5px 20px #7f7f7f;
  }
  .letter-side{
    z-index: 1;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
}